.App {
  text-align: center;
}

button {
  min-height: 30px;
  height: auto;
  width: 150px;
}

.game-board {
  margin-top: 50px;
  margin-left: 50px;
}

.status {
  padding: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #eee;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}
